<style>
    .container{
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
    .form-inscription{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5em;
        width: 50em;
    }
    .form-group{
        margin: 0.5em;
        
    }
    .form-label{
        font-size: 1.3em;
    }
    .inscription-input{
        width: 25em;
    }
    
    #btn-submit{
        width: 15em;
    }
    #forgotten-password{
        font-size: 1em;
        color:gray;
    }

    #forgotten-password:hover{
        text-decoration: underline;
    }

</style>

<div class="container">
    <form class=form-inscription>
        <!-- <div class="form-group">
            <label for="login" class="form-label">Login</label>
            <input type="text" id="login" class="inscription-input form-control">    
        </div> -->
        <mat-form-field appearance="outline" class="inscription-input">
            <mat-label class="form-label">Login</mat-label>
            <input 
            matInput 
            id="login" 
            placeholder="Login" 
            [formControl]="loginControl"
            required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="inscription-input">
            <mat-label class="form-label">Email</mat-label>
            <input 
                matInput 
                id="email" 
                placeholder="pat@example.com" 
                [formControl]="emailControl" 
                class="inscription-input"
                required>
            <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <!-- <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="text" id="email" [(ngModel)]="email" name="email" [formControl]="validatorService.validators.email" class="inscription-input form-control">    
        </div> -->
        <mat-form-field appearance="outline" class="inscription-input">
            <mat-label class="form-label">Password</mat-label>
            <input 
            matInput 
            id="password" 
            placeholder="Password" 
            [formControl]="passwordControl" 
            class="inscription-input"
            type="password"
            required>
            <mat-error *ngIf="passwordControl.invalid">{{getMdpErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="inscription-input">
            <mat-label class="form-label">Confirm Password</mat-label>
            <input 
                matInput 
                id="confirmPassword" 
                placeholder="Confirm Password" 
                [formControl]="confirmPasswordControl"
                (input)="checkPassword()"
                class="inscription-input"
                type="password"
                required>
            <mat-error *ngIf="confirmPasswordControl.invalid">{{getConfirmMdpErrorMessage()}}</mat-error>
        </mat-form-field>
           
        <button id="btn-submit" class="btn btn-success form-group" (click)="handleSigningUp()">Valider mon inscription</button>
        <button id="btn-alert" class="btn btn-success form-group" (click)="handleLogout()">Logout</button>
        <div>{{passwordControl.value}}</div>
    </form>

</div>

<app-footer></app-footer>
