<style>
    .container{
        display: flex;
        justify-content: center;
    }

    form{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .form-connexion{
        margin-top: 10em;
    }
    .form-group{
        margin: 0.5em;
    }
    .form-label{
        font-size: 1.3em;
    }
    .connexion-input{
        width: 25em;;
    }
    
    #btn-submit{
        width: 15em;
    }
    #forgotten-password{
        font-size: 1em;
        color:gray;
    }

    #forgotten-password:hover{
        text-decoration: underline;
    }

</style>

<div class="container">
    <form class=form-connexion>
        <mat-form-field appearance="outline" class="connexion-input">
            <mat-label class="form-label">Email</mat-label>
            <input 
            matInput 
            id="email" 
            placeholder="Email" 
            [formControl]="emailControl" 
            type="email"
            required>
            <mat-error *ngIf="emailControl.invalid">{{getMdpErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="connexion-input">
            <mat-label class="form-label">Password</mat-label>
            <input 
            matInput 
            id="password" 
            placeholder="Password" 
            [formControl]="passwordControl" 
            class="inscription-input"
            type="password"
            required>
            <mat-error *ngIf="passwordControl.invalid">{{getMdpErrorMessage()}}</mat-error>
        </mat-form-field>
           
        <button id="btn-submit" class="btn btn-success form-group" (click)="handleLogin(emailControl.value, passwordControl.value)">Connexion</button>
        <button id="btn-alert" class="btn btn-success form-group" (click)="handleLogout()">Logout</button>

    </form>
</div>
<app-footer></app-footer>