<style>
    #filtres-container{
        display: flex;
        flex-direction: column;
        border: solid aliceblue;
        height: 30em;
        width: 20em;
        overflow-y: auto;
        position: sticky;
    }
    .titre{
        font-size: 1.5em;
        margin-left: 2em;
    }
    .sous-titre{
        font-size: 1.2em;
        margin-left: 1em;
        margin-bottom: 0.5em;
    }
    .filtres-checkbox{
        margin-left: -1em;
    }
    #level-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1em;
    }
    .level-input{
        width: 3.5em;
        margin-left: 1em;
        margin-right: 1em;
    }
    hr{
        width: 10em;
        margin-top: -0.1em;
    }
    ul{
        list-style: none;
    }
</style>

<div id="filtres-container">
    <div class="titre">Filtres</div>
    <hr>

    <div class="filtre-section">
        <div class=" sous-titre">Level</div>
        <div id="level-container">
            <input class=" form-control level-input" type="text" placeholder="Min"/>
            <div> - </div>
            <input class=" form-control level-input" type="text" placeholder="Max"/>    
        </div>
    </div>

    <div class="sous-titre">
        Type d'équipement
    </div>
    <ul>
        <li *ngFor="let equipement of typeEquipement">
            <mat-checkbox class="filtres-checkbox" color="primary">{{equipement.name}}</mat-checkbox>
        </li>
    </ul>
    <div class="sous-titre">
        Statistiques
    </div>
    <ul>
        <li *ngFor="let stat of statistiques">
            <mat-checkbox color="primary">{{stat.name}}</mat-checkbox>
        </li>
    </ul>
</div>
