<style>
    #filtres-container{
        display: flex;
        flex-direction: column;
        border: solid aliceblue;
        height: 55em;
        width: 20em;
        overflow-y: auto;
        position: sticky;
    }
    .titre{
        font-size: 1.5em;
        margin-left: 2em;
    }
    .sous-titre{
        font-size: 1.2em;
        margin-left: 1em;
        margin-bottom: 0.5em;
    }
    .filtres-checkbox{
        margin-left: -1em;
    }
    #level-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1em;
    }
    .level-select{
        width: 3.5em;
        margin-left: 1em;
        margin-right: 1em;
    }
    hr{
        width: 10em;
        margin-top: -0.1em;
    }
    ul{
        list-style: none;
    }
</style>

<div id="filtres-container">
    <div class="titre">Filtres</div>
    <hr>

    <div class="filtre-section">
        <div class=" sous-titre">Level</div>
        <div id="level-container">
            <mat-form-field class="level-select">
                <mat-select [(ngModel)]="levelValues.min" (ngModelChange)="handleLevelChange()">
                    <mat-option *ngFor="let level of levels" [value]="level.value">
                        {{level.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div> - </div>
            <mat-form-field class="level-select">
                <mat-select [(ngModel)]="levelValues.max" (ngModelChange)="handleLevelChange()">
                    <mat-option *ngFor="let level of levels" [value]="level.value">
                        {{level.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>        
        </div>
    </div>

    <div class="sous-titre">
        Type d'équipement
    </div>
    <ul>
        <li *ngFor="let equipement of typeEquipement">
            <mat-checkbox class="filtres-checkbox" color="primary" [(ngModel)]="equipement.value" (ngModelChange)="handleTagCheck(equipement.value, equipement.name, 'type')">{{equipement.name}}</mat-checkbox>
        </li>
    </ul>
    <div class="sous-titre">
        Statistiques
    </div>
    <ul>
        <li *ngFor="let stat of statistiques">
            <mat-checkbox class="filtres-checkbox" color="primary" [(ngModel)]="stat.value" (ngModelChange)="handleTagCheck(stat.value, stat.name, 'stat')">{{stat.name}}</mat-checkbox>
        </li>
    </ul>
</div>
